{
  "plugins": [
    "@babel/plugin-transform-nullish-coalescing-operator",
    "@babel/plugin-transform-optional-chaining",
    "rewire",
    [
      "module-resolver",
      {
        "root": [
          "./dist"
        ],
        "alias": {
          "base": "./dist/base",
          "static": "./static"
        },
        "extensions": [
          ".js"
        ]
      }
    ],
    [
      "import-require-as-string",
      {
        "extensions": [
          ".css"
        ]
      }
    ]
  ]
}
